body {
  background-color: orangered;
  color: white;
  margin: 0;
  font-family: rubik;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 54px;
  font-weight: 700;
}

#app {
  margin-top: 50px;
}